<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/hjxCSS/header.css">
    <link rel="stylesheet" href="font/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a class="float logo" href="javascript:;">logo</a></li>
            <li><a class="float nav_lelt hover" href="javascript:;">商城首页</a></li>
            <li><a class="float nav_lelt hover" href="javascript:;">索尼品质</a></li>
            <li><a class="float nav_lelt hover" href="javascript:;">佳能品质</a></li>
            <li><a class="float nav_lelt hover" href="javascript:;">尼康品质</a></li>
            <li><a class="float nav_lelt hover" href="javascript:;">社区交流</a></li>
            <li><a class=" nav_right hover" href="javascript:;">注册</a></li>
            <li><a class=" nav_right hover" href="javascript:;">登录</a></li>
            <li ><a class="nav_right hover" id="user" href="javascript:;"><i class="fa fa-user-circle"></i></a></li>
            <li ><a class="nav_right hover" id="shop" href="javascript:;"><i class="fa fa-cart-plus"></i></a></li>
            <li ><a class="nav_right hover" id="serch" href="javascript:;"><i class="fa fa-search" ></i></a></li>
            <input type="text" id="iPt" class="nav_right " placeholder="请输入商品名称">
        </ul>
    </nav>
</body>
<script src="js/hjxJs/header.js"></script>
</html>